---
import { Icon } from 'astro-icon/components';
import { Astronav, MenuIcon, MenuItems, StickyHeader } from 'astro-navbar';
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';
const { data } = await getEntry('contacts', 'contacts');

const menu = [
  { label: 'Услуги', href: '#cooperation' },
  { label: 'Преимущества', href: '#benefits' },
  { label: 'Отзывы', href: '/#reviews' },
  { label: 'Контакты', href: '#contacts' },
];

const contacts = [
  {
    href: 'tel:+74956680574',
    label: '+7 (495) 668 05 74',
  },
  {
    href: 'tel:+74951182058',
    label: '+7 (495) 118 20 58',
  },
];
---

<StickyHeader class="sticky top-0 z-30 w-full bg-white text-dark transition-all" defaultClass="drop-shadow-none" activeClass="drop-shadow-md">
  <div class="hidden bg-[#061634] py-2 text-white sm:block">
    <div class="container flex justify-between gap-2">
      <div class="flex items-center gap-10">
        <span class="text-sm font-medium">Часы работы: пн-пт, с 10 до 18</span>
        <a class="text-sm font-medium underline-offset-2 hover:underline" href="mailto:sales@info-tt.ru">sales@info-tt.ru</a>
      </div>
      <div class="flex items-center gap-10">
        <a href={data.tg} target='_blank' class="text-sm font-medium underline-offset-2 hover:underline">Телеграм</a>
        <a href={data.tg} target='_blank' class="text-sm font-medium underline-offset-2 hover:underline">WhatsApp</a>
      </div>
    </div>
  </div>
  <div class="container py-2">
    <Astronav closeOnClick>
      <div class="flex w-full items-center justify-between gap-4">
        <a href="/" class="relative z-[51]">
          <Image src={import('../assets/logo.png')} quality={100} class="size-11 object-contain" alt="logo" />
        </a>

        <MenuItems class="z-2 fixed left-0 top-0 z-50 hidden h-dvh w-full flex-auto justify-start bg-white lg:relative lg:flex lg:h-auto lg:w-auto xl:pl-10">
          <ul class="flex w-full flex-col justify-center gap-5 pt-32 text-center lg:w-auto lg:flex-row lg:justify-start lg:pt-0 xl:gap-14">
            {
              menu.map((item) => (
                <li class="text-xl font-medium transition-colors hover:text-primary lg:text-base">
                  <a href={item.href}>{item.label}</a>
                </li>
              ))
            }
          </ul>
          <div class="mt-10 flex flex-col items-center gap-5 text-xl font-medium lg:hidden">
            {
              contacts.map((item) => (
                <a class="flex items-center gap-1 font-medium hover:text-primary" href={item.href}>
                  <Icon name="phone" class="size-7 text-primary" />
                  {item.label}
                </a>
              ))
            }
          </div>
        </MenuItems>

        <div class="header-contacts z-50 flex items-center gap-5 xl:gap-[30px]">
          <div class="hidden flex-col items-center gap-2 sm:flex lg:flex-row xl:gap-[30px]">
            {
              contacts.map((item) => (
                <a class="flex items-center gap-1 font-medium hover:text-primary" href={item.href}>
                  <Icon name="phone" class="text-primary" />
                  {item.label}
                </a>
              ))
            }
          </div>
          <a href="#callback" class="button px-3 xl:px-4"> Оставить заявку </a>
          <div class="block lg:hidden">
            <MenuIcon class="size-7 text-[#2E3037]" />
          </div>
        </div>
      </div>
    </Astronav>
  </div>
</StickyHeader>
