---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import { getEntry } from 'astro:content';
const { data } = await getEntry('contacts', 'contacts');
const items = [
  {
    label: 'Работа по договору',
    text: 'Работаем по агентскому договору или договору комиссии.  100% безопасно, оплата за наши услуги после её оказания.',
    image: import('@assets/process/contract.png'),
  },
  {
    label: 'Оплата',
    text: 'Оплачиваем товары из стран ЕС, США, Китая и другие через наши фирмы в Киргизии или Таиланде.  Конвертация по выгодному межбанковскому курсу, оплата комиссии только после получения платежа поставщиком.',
    image: import('@assets/process/payment.png'),
  },
  {
    label: 'Складские услуги',
    text: 'Ответственное хранение, складская обработка товаров, услуги фулфилмента.  ',
    image: import('@assets/process/services.png'),
  },
  {
    label: 'Пакет документов',
    text: 'Предоставляем полный пакет документов ДТ/УПД/ CRM (ТТН), накладная оформленные на Ваше юридическое лицо или ИП. А также все необходимые документы для бухгалтерии.',
    image: import('@assets/process/docs.png'),
  },
  {
    label: 'Логистика',
    text: 'Предоставляем оптимальное логистическое решение для Вашего груза, без ограничений по весу и объему, различными видами транспорта по вашему бюджету и срокам доставки.',
    image: import('@assets/process/logistic.png'),
  },
  {
    label: 'Поддержка клиентов',
    text: 'Консультационная поддержка клиента на всех этапах работы. \n Юридическая поддержка в сфере ВЭД. Отстаиваем Ваши интересы до победного!',
    image: import('@assets/process/clients.png'),
  },
];
---

<section class="container py-10 md:py-20">
  <div class="items-stretc grid gap-10 lg:grid-cols-[350px_1fr] xl:grid-cols-[415px_1fr] xl:gap-20">
    <div class="h-auto">
      <h2 class="mb-8 section-title text-dark lg:max-w-sm">Процесс Работы</h2>
      <div class="h-auto rounded-[20px] bg-gradient-to-b from-[#B2DDFD] to-[#4764B9] px-4 pb-14 pt-5">
        <Image src={import('@assets/process.png')} quality={100} alt="Процесс Работы" class="max-h-[250px] w-full rounded-[20px] object-cover lg:max-h-full" />
        <div class="py-5 md:py-10 text-center lg:py-[72px]">
          <Image src={import('@assets/process-logo.png')} alt="logo" quality={100} class="mx-auto mb-5 md:mb-10" />
          <p class="text-xl sm:text-2xl font-semibold text-white">
            Вы всегда можете воспользоваться всем спектром наших возможностей для решения Ваших задач так и отдельными опциями
          </p>
        </div>
        <div class="relative flex flex-col items-center gap-3 pt-10 lg:pt-20 after:absolute after:left-1/2 after:top-0 after:h-[1px] after:w-[270px] after:-translate-x-1/2 after:bg-gray-50 after:content-['']">
          <p class="text-center text-lg font-semibold text-white">Позвоните, и мы ваc проконсультируем</p>
          <a class="flex items-center gap-2 text-2xl font-bold text-white" href="tel:+74951182058">
            <Icon name="phone" /> +7 (495) 118 20 58
          </a>
          <div class="flex items-center gap-2 py-2">
            <a href={data.whatsapp} target="_blank"><Icon name="whatsapp" class="size-12" /></a>
            <a href={data.tg} target="_blank"><Icon name="telegram-lg" class="size-12" /></a>
          </div>
          <div class="flex items-center gap-2">
            <span class="text-white/80">Email:</span>
            <a class="text-xl font-semibold text-white" href="#">sales@info-tt.ru</a>
          </div>
          <div class="flex items-center gap-2">
            <span class="text-white/80">Время работы:</span>
            <a class="text-xl font-semibold text-white" href="#">Пн-Пт, с 10 до 18</a>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-8">
      {
        items.map((item, index) => (
          <div class={`flex items-start justify-between gap-14 border-[#ECECEC] py-7 ${index !== 5 ? 'border-y' : ''}`}>
            <div class="flex max-w-[450px] flex-col gap-5">
              <div class="flex items-center gap-3">
                <span class="grid size-7 shrink-0 place-items-center rounded-full bg-accent font-semibold text-white">{index + 1}</span>
                <h3 class="text-2xl font-semibold text-dark">{item.label}</h3>
              </div>
              <p class="pl-[43px] font-semibold leading-tight text-[#252626]">{item.text}</p>
            </div>
            <Image class='hidden md:block' src={item.image} alt={item.label} />
          </div>
        ))
      }
      <div class="flex items-center justify-between gap-10 rounded-[20px] bg-gray-50 p-4">
        <div class="pl-4">
          <div class="mb-6 flex items-center gap-3">
            <Icon name="arrow-lg" class="size-7" />
            <h3 class="text-2xl font-semibold text-accent">Ваш результат</h3>
          </div>
          <p class="font-semibold leading-tight text-[#252626]">Товар у Вас на складах. Документация для бухгалтерии в полном порядке. Обязательства перед поставщиком выполнены. Вы продолжаете спокойно развивать свой Бизнес.</p>
        </div>

        <Image class='hidden md:block' src={import('@assets/process/results.png')} alt="results" />
      </div>
    </div>
  </div>
</section>
