---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
const storeItems = [
  {
    icon: 'italy',
    image: import('../assets/stores/italy.png'),
    title: 'Италия',
    address: 'ITT Italia Srl Via Prà di Risi, 5/B 33080 Zoppola (PN) Italia',
  },
  {
    icon: 'latvia',
    image: import('../assets/stores/latvia.png'),
    title: 'Латвия',
    address: 'BAPI  SIA, Latvija, Rīga, Rankas 4A, LV-1005',
  },
  {
    icon: 'turkey',
    image: import('../assets/stores/turkey.png'),
    title: 'Турция',
    address: 'Güzide Sok. No:20/3, 34540 Çatalca/İstanbul',
  },
  {
    icon: 'russian',
    image: import('../assets/stores/russia.png'),
    title: 'Россия',
    address: 'Москва, поселение Сосенское, деревня Николо-Хованское, дом 1006, строение 1. Пандус 19,20',
  },
  {
    icon: 'china',
    image: import('../assets/stores/china.png'),
    title: 'Китай',
    address: 'No. 675 Jiexun Road, Shanghai 上海捷迅路675号',
  },
];
---

<div class="container pb-[60px] sm:pb-[130px]">
  <div class="relative mb-[30px] flex flex-col items-start justify-between gap-5 sm:flex-row">
    <h2 class="section-title max-w-[875px] text-dark">
      Склады
      <span class="text-primary"> консолидации</span>
    </h2>
    <div class="-order-1 flex items-center gap-4 self-end rounded-full border-2 border-[#E5ECF5] px-[18px] py-2 sm:order-1 sm:self-start">
      <span class="size-[9px] rounded-full bg-[#E20B24]"></span>
      <span class="block font-bold uppercase text-[#302F4C]">склады</span>
    </div>
  </div>
  <div class="hidden grid-cols-3 gap-2 lg:grid lg:grid-cols-5">
    {
      storeItems.map((item) => (
        <div class="store-item z-5 group relative overflow-hidden rounded-lg bg-[#F7F7F7] duration-500 hover:after:opacity-100">
          <Image src={item.image} class="w-full" alt="image" />
          <div class="absolute bottom-2 left-0 right-0 z-10 flex items-center gap-5 transition-all duration-500 group-hover:bottom-[72%]">
            <span class="mx-2 flex w-full items-center gap-2 rounded-lg bg-white p-3 text-xl font-semibold group-hover:bg-[#F7F7F7] xl:text-2xl">
              <Icon name={`flags/${item.icon}`} class="size-8 rounded-xl xl:size-10" />
              {item.title}
            </span>
          </div>
          <div class="absolute -bottom-full left-5 z-10 max-w-[201px] transition-all duration-500 group-hover:bottom-[5%]">
            <span class="mb-2 font-semibold text-gray">Адрес:</span>
            <p class="font-medium text-[#4C5670]">{item.address}</p>
          </div>
        </div>
      ))
    }
  </div>
  <div class="embla relative lg:hidden">
    <div class="embla__viewport">
      <div class="embla__container">
        {
          storeItems.map((item, index) => (
            <div class="embla__slide rounded-[20px] bg-[#F8F8F8] p-5">
              <div class="relative mb-5 overflow-hidden rounded-lg">
                <Image src={item.image} class=" h-[192px] w-full object-cover" quality={100} alt="image" />
                <div class="absolute left-0 top-0 z-10 m-2 flex items-center gap-5">
                  <span class="flex items-center gap-2 rounded-lg bg-white p-3 text-xl font-semibold xl:text-2xl">
                    <Icon name={`flags/${item.icon}`} class="size-8 rounded-xl xl:size-10" />
                    {item.title}
                  </span>
                </div>
              </div>
              <div class="z-10 max-w-[250px] transition-all duration-500">
                <span class="mb-2 font-semibold text-gray">Адрес:</span>
                <p class="font-medium text-[#4C5670]">ITT Italia Srl Via Prà di Risi, 5/B 33080 Zoppola (PN) Italia</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>

<style>
  .store-item::after {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 100%;
    background-color: #f7f7f7;
    opacity: 0;
    transition: all 0.3s;
  }
  .store-item:hover::after {
    opacity: 1;
    top: 0;
  }

  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    transition: height 0.2s;
  }
  .embla__slide {
    flex: 0 0 85%;
    min-width: 0;
  }

  @media screen and (min-width: 576px) {
    .embla__slide {
      flex: 0 0 45%;
    }
  }
</style>

<script>
  import '../components/embla/index';
</script>
